/* Setting custom properties */
body {
    border: 1px red solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li a{
    list-style: none;
    text-decoration: none;
}
.wrapper{
    border: 2px red dotted;
    width: 90%;
    /* Add margin auto to center wrapper in its width */
    margin: 0 auto;
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navbar{
    border: 1px black solid;
    padding: 50px 40px;
    display:flex;
    /* items evenly distributed; the first line is at the start of the container while the last one is at the end */
    justify-content: space-between;
    /* items are aligned such as their baselines align */
    align-items: baseline;
}
/* Use only-child selector */
a:only-child{
    border:2px hsl(322, 100%, 66%) solid;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 27px;
    padding: 12px 55px;
    background: none;
    font-size: 23px;
    color: hsl(322, 100%, 66%);
    float: right;
    letter-spacing: .09em;
}
a:only-child:hover{
    border: 2px hsl(321, 100%, 78%) solid;
    color: hsl(321, 100%, 78%);
}
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px 0;
}

.hero > p{
    font-weight: 400;
    padding: 60px 320px;
    font-size: 24px;
    letter-spacing: .1em;
}

/* a{
    letter-spacing: .1em;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 3px 5px 2px -2px rgba(0, 0, 0, 0.3);
    padding: 40px 110px;
    border-radius: 60px;
    text-align: center;
} */

.hero > img{
    margin-top: 6em;
    width: 80%;
}

.values{
    padding: 120px 0;
    display: flex;
}

.values h2{
    font-size: 5.8em;
    font-weight: 700;
}

.values + p {
    color: red;
}

.container:first-child{
    /* position: absolute; */
    border: 1px red solid;
}

.grid-boxes{
    display:flex;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 32em;
    padding: 20px 35px;
}

.grid-boxes div:nth-child(2n){
    background: hsl(207, 100%, 98%);
}

.box-text{
    padding: 210px 80px;
}
.box-illustration img{
    width: 100%;
}

footer{
    margin: auto;
}
.flexbox{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-around;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
    .navbar{
        width: min(90%, 70.5rem);
    }
    .navbar a{
        padding: 20px 5px;
    }
}
