/* Setting custom properties */
body {
    border: 1px red solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
}
.wrapper{
    border: 2px red dotted;
    width: 90%;
    /* Add margin auto to center wrapper in its width */
    margin: 0 auto;
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
p,a{
    font-family: 'Open Sans', sans-serif;
}
/* Navbar */
.navbar{
    border: 1px black solid;
    /* padding: 25px 40px; */
    display:flex;
    flex-wrap: nowrap;
    /* items evenly distributed; the first line is at the start of the container while the last one is at the end */
    justify-content: space-around;
    /* items are aligned such as their baselines align */
    align-content: center;
    align-items: center;
}
.logo {
    border: 1px red solid;
    /* Ideal width */
    flex-basis: 200px;
    flex-shrink: 20;
    flex-grow: 0;
}
/* Use only-child selector */
a:only-child{
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 0;
    border:2px hsl(322, 100%, 66%) solid;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 27px;
    padding: 12px 55px;
    background: none;
    font-size: 16px;
    color: hsl(322, 100%, 66%);
    float: right;
    letter-spacing: .09em;
}
a:only-child:hover{
    border: 2px hsl(321, 100%, 78%) solid;
    color: hsl(321, 100%, 78%);
}

/* Hero section and CTA */
.hero{
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    /* Align-items over justify-content. Items are centered in the cross-axis */
    align-items: center;
    text-align: center;
    /* padding: 0 60px; */
    margin: 240px 0 120px 0;
}
/* Select elements that are first of a type inside a container */
h1:first-of-type{
    font-size: 38px;
}
/* Select p element which is direct child of div */
.hero > p{
    /* border: 1px green solid; */
    /* flex-basis: 150px; */
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 400px;
    line-height: 1.7em;
}
.cta{
    margin: 50px 0;
    /* flex-basis: 150px; */
    font-size: 12px;
    flex-shrink: 1;
    padding: 15px 55px;
    font-weight: 600;
    color: white;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 3px 5px 2px -2px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}
.cta:hover{
    background-color: hsl(321, 100%, 78%);
}
.hero > img{
    margin-top: 6em;
    width: 80%;
}
/* Split image */
.split{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 55px 0;
}
.split h2{
    margin: -20px 0;
    font-size: 77px;
    margin-top: 15px;
}
.split p{
    color: gray;
}

/* Alternate layout */
.grid-boxes{
    display:flex;
    flex-direction:column;
}
.box{
    border: 1px purple solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
}
.box-shaded{
    background: hsl(207, 100%, 98%);
}
.box-text{
    border: 1px violet solid;
    padding: 210px 80px;
}
.box-illustration img{
    width: 100%;
}

/* Footbar */
.footbar, .links{
    background-color: hsl(192, 100%, 9%);
}
.footbar{
    padding: 150px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    color: white;
    font-size: 14px;
    line-height: 1.9em;
}
.top-scene{
    order: 2;
}
/* Descendant selector */
.footbar p{
    width: 320px;
}
/* First child in a container */
h3:first-child{
    text-transform: uppercase;
}
/* Filter inverts the samples in the image.  */
.bottom-scene img{
    filter: invert(100%);
}
input:only-of-type{
    height: 44px;
    width: 300px;
    border-radius: 6px;
    border: none;
    font-size: 22px;
}
input:focus{
    cursor: pointer;
    outline: none;
    border: 1px red solid;
}
button{
    background: hsl(322, 100%, 66%);
    border-radius: 6px;
    border: 1px hsl(322, 100%, 66%) solid;
    color: white;
    padding: 15px 25px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
}
button:hover{
    background-color: hsl(321, 100%, 78%);
    border: 1px hsl(321, 100%, 78%) solid;
    cursor: pointer;
}
/* Links */
.links ul{
    /* border: 1px white solid; */
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links i{
    font-size: 32px;
}
i:only-of-type:hover{
    color: hsl(207, 100%, 98%);
    cursor: pointer;
}

@media (max-width: 600px){
    .navbar{
        justify-content: space-between;
    }
    h1:first-of-type{
        font-size: 28px;
    }
    .hero > p{
        padding: 0;
    }
    .cta{
        /* margin: 50px 0; */
        /* flex-basis: 150px; */
        font-size: 12px;
        flex-shrink: 1;
        padding: 9px 45px;
    }
    .hero > img{
        width: 100%;
    }
    .split{
        flex-direction: column;
        grid-gap: 4em;
    }

    .box{
        flex-direction: column;
        padding: 0;
    }
    .box-text{
        order: 1;
    }
    .footbar{
        padding: 20px;
        grid-template-columns: 1fr;
    }
    .bottom-scene{
        order: 2;
    }
    button{
        margin: 8px 15px;
        float: right;
    }
}
