:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    font-size: 15px;
}
h1,h3{
    font-family: 'Poppins', sans-serif;
}
h2,p,a{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    font-size: 1rem;
}
h1:only-of-type{
    font-size: clamp(2rem, 5vw, 3rem);
}
p{
    font-size: clamp(.8rem, 5vw, 1.1rem);
}
body {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
.wrapper{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0;
    margin-bottom: 4em;
}
.btn{
    border-radius: 27px;
    color: var(--pink);
    padding: 0.5em 1.5em;
    letter-spacing: .09em;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    border: 2px var(--pink) solid;
    cursor: pointer;
}
.btn:hover{
    border: 2px var(--light-pink) solid;
    color: var(--light-pink);
}
.banner{
    text-align: center;
    padding: 3em 2em;
}
.banner > p{
    line-height: 1.7em;
    margin: 2em 0 3.5em;
}
.cta{
    padding: 1em 4.6em;
    font-weight: 600;
    color: white;
    background-color: var(--pink);
    box-shadow: 3px 5px 2px -2px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    cursor: pointer;
}
.cta:hover{
    background-color: var(--light-pink);
}
.split{
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 6em;
    margin: auto;
}
.split h2{
    font-size: 4em;
    margin: auto 0 -15px;
}
section div{
    padding: 5em 1em;
    text-align: center;
}
section div h3{
    font-size: 1.85rem;
}
.ribbon:nth-of-type(odd){
    display: flex;
    flex-direction: column-reverse;
    background: var(--very-pale-blue);
}
.ribbon-1 div:first-of-type{
    margin-top: -10px;
}
.ribbon img{
    min-width: 450px;
    width: 90%;
}
.footer{
    padding: 2.5em 3.5em;
    background-color: var(--very-dark-cyan);
    color: white;
    line-height: 1.9em;
    display: flex;
    flex-direction: column;
    gap: 6em;
}
.footer h2{
    text-transform: uppercase;
    font-size: 1.7rem;
}
input:only-of-type{
    min-width: 50%;
    padding: .6em;
    border-radius: 6px;
    border: none;
    font-size: 1.4rem;
}
input:focus{
    outline: none;
    border: 1px var(--light-red) solid;
}
.footer img, .links i{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(63deg) brightness(106%) contrast(101%);
}
button{
    float: right;
    background: var(--pink);
    border-radius: 6px;
    border: 1px var(--pink) solid;
    color: white;
    padding: 1em 2.5em;
    font-size: 18px;
    font-weight: 600;
}
button:hover{
    background-color: var(--light-pink);
    border: 1px var(--light-pink) solid;
    cursor: pointer;
}
.links i{
    font-size: 2.13rem;
}
i:only-of-type:hover{
    color: var(--very-pale-blue);
    cursor: pointer;
}
@media (min-width: 900px){
    nav{
        padding: 3em 2.5em;
    }
    .banner > p{
        max-width: 500px;
        margin: 0 auto 6em;
    }
    .split{
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
    }
    section div{
        min-width: 450px;
        text-align: left;
    }
    .ribbon:nth-of-type(odd){
        flex-direction: row;
    }
    .ribbon-2{
        display: flex;
    }
    .footer{
        flex-direction: row;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .footer div{
        max-width: 450px;
    }
    form{
        display: flex;
        gap: 2.6em;
    }
}